# History files
.Rhistory
.Rapp.history


# Session Data files
.RData


# User-specific files
.Ruserdata

#too big files
drug_ae_list.rds
drug_bank_1_5_8_df.RDS
drugbank_5.1.8.db
full database.xml
gtex_lv_files
gtex_qsmooth
lv_gtex_filter_samples.rds
MedDRA_25_0_English
medDRA_test.csv
patient_safety.csv
tpm_gtex_filter_samples.rds
counts_gtex_filter_samples.rds
drug_ae_df.rds
metadata_gtex_filter_samples.rds
patient_safety_filtered.rds
drug_ae_res.rds
results/alpaca/alpaca_run
results/alpaca/alpaca_com_gene_list/
results/alpaca/alpaca_core_gene_lists/
results/alpaca/alpaca_run/
results/alpaca/panda_long_outputs/
results/alpaca/sex_specific_networks/
src/vignettes
src/210603_open_fda_download.sh
src/220519_FDA_open_drug.sh
src/220725_FDA_open_drug_long.sh
src/221031_transfer_sex_diff_test.Rmd
src/230105_lioness_function_script.R
src/230105_lioness_function_script.sh
src/230105_lioness_set_up.Rmd
src/230105_lioness_set_up.html
src/230106_lioness_tissue_runs.txt
src/230112_lioness_function_script_smaller.R
src/230112_lioness_function_script_smaller.sh
src/230126_lioness_outputs_adjustment.Rmd
src/230126_lioness_outputs_adjustment.html
src/230130_differential_edges_testing.Rmd
src/sex_bias_functions.R
src/test_LV_differences.R


 # Example code in package build process
*-Ex.R

#results not in manuscript
lioness
gtex_lvs_sex

 # Output files from R CMD build
/*.tar.gz


# Output files from R CMD check
/*.Rcheck/


# RStudio files
.Rproj.user/


# produced vignettes
 vignettes/*.html
 vignettes/*.pdf


# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth


# knitr and R markdown default cache directories
*_cache/
/cache/


 # Temporary files created by R markdown
*.utf8.md
*.knit.md


# R Environment Variables
.Renviron
.DS_Store